<div class="d-flex align-items-center user-info-box my-4 py-3 ps-3 rounded">
  <p class="text-muted mb-0 me-1">ログイン中のユーザ：</p>
  <%= link_to mypage_path, class: "fw-bold text-accent text-decoration-none" do %>
    <%= user.full_name %>
  <% end %>
</div>
