<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<hr>

<ul>
  <li><%= link_to "管理者作成", new_admin_registration_path %></li>
  <li><%= link_to "管理者ログイン", new_admin_session_path %></li>
  <li><%= link_to "新規登録", new_user_path %></li>
  <li><%= link_to "ログイン", root_path %></li>
</ul>
