<div class="d-flex justify-content-between align-items-center mx-2">
<h4>他の人のシフト</h4>
<%= form_with url: admin_settings_toggle_visible_path,
              method: :patch,
              data: { turbo_frame: "_top" },
              class: "d-inline" do %>
  <div class="form-check form-switch d-flex align-items-center">
    <%= label_tag "switch-#{week.id}",
        (week.is_invisible? ? "表示中" : "非表示中"),
        class: "form-check-label toggle-label #{week.is_invisible? ? 'text-primary' : 'text-secondary'} me-5" %>
    <%= check_box_tag 'is_invisible', '1', week.is_invisible?,
        class: "form-check-input",
        id: "switch-#{week.id}",
        onchange: 'this.form.requestSubmit()' %>
  </div>
<% end %>
</div>
