<%= week.is_invisible %>
<h3>希望一覧</h3>
<div class="tables-grid">
  <div id="week_broadcast_<%= week.id %>">
    <%= render "public/jobs/broadcast", week: week, users: users, jobs: jobs %>
  </div>
  <% if  Job.exists?(week_id: week.id, user_id: login_user.id) %>
    <%= render "public/jobs/button", week: week, users: users, jobs: jobs, login_user: login_user %>
  <% end %>
</div>