<%= form_with url: toggle_invisible_week_path(week),
              method: :patch,
              data: { turbo_frame: "_top" },
              class: "d-inline" do %>
  <div class="form-check form-switch d-flex align-items-center">
    <%= check_box_tag 'is_invisible', '1', week.is_invisible?,
        class: "form-check-input",
        id: "switch-#{week.id}",
        onchange: 'this.form.requestSubmit()' %>

    <%= label_tag "switch-#{week.id}",
        (week.is_invisible? ? "表示中" : "非表示中"),
        class: "form-check-label toggle-label #{week.is_invisible? ? 'text-primary' : 'text-secondary'}" %>
  </div>
<% end %>
