<% if user.middle_name.present? %>
  <span class="middle-name text-nowrap"><%= user.first_name.mb_chars[0,2] %></span>
  <span class="text-nowrap"><%= user.first_name.mb_chars[2,2] %></span>
<% else %>
  <span class="user-name text-nowrap"><%= user.first_name %></span>
  <span class="user-name text-nowrap"><%= user.last_name %></span>
<% end %>