<nav class="navbar navbar-dark px-3" style="background-color: #dd5b9c;">
  <ul class="nav">
    <li class="nav-item">
      <%= link_to admin_weeks_path, class: "nav-link d-flex align-items-center gap-1 fw-semibold px-3 py-2 rounded header-link", style: "color: #d3e7f5;"  do %>
      <span class="material-symbols-outlined fs-5">calendar_month</span>
        日程一覧
      <% end %>
    </li>
  </ul>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to destroy_admin_session_path, data: { turbo_method: :delete }, class: "nav-link d-flex align-items-center gap-1 fw-semibold px-3 py-2 rounded header-link", style: "color: #f3abc0;" do %>
        <span class="material-symbols-outlined">logout</span>
        ログアウト
      <% end %>
    </li>
  </ul>
</nav>
