<nav class="navbar navbar-dark bg-dark px-3">
  <ul class="nav">
    <li class="nav-item">
      <%= link_to "週一覧", admin_weeks_path, class: "nav-link text-white" %>
    </li>
  </ul>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to "ログアウト", destroy_admin_session_path, data: { turbo_method: :delete }, class: "nav-link text-danger" %>
    </li>
  </ul>
</nav>
