<nav class="navbar border-bottom shadow-sm px-3" style="background-color: #d3e7f5;">
  <ul class="nav">
    <li class="nav-item">
      <%= link_to root_path, class: "nav-link d-flex align-items-center gap-1 fw-semibold px-3 py-2 rounded header-link", style: "color: #dd5b9c;" do %>
        <span class="material-symbols-outlined">icecream</span>
        ホーム
      <% end %>
    </li>
  </ul>
</nav>
