header, footer, .no-print {
  display: none;
}

body {
  background: white;
  font-size: 12pt;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

/*   
  .thick-left {
    border-left: 1px solid black !important;
  }
  .thick-right {
    border-right: 3px solid black;
  } */

@page {
  size: A4 landscape;
}
