<%= turbo_stream.replace "week_errors" do %>
  <div class="alert alert-danger" id="week_errors">
    <% @week.errors.each do |error| %>
      <%= error.message %><br>
    <% end %>
  </div>
<% end %>

<%= turbo_stream.replace "week_form" do %>
  <div class="card-body" id="week_form">
    <%= render 'form', week: @week %>
  </div>
<% end %>
